body{
        margin: 0;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        background: linear-gradient(45deg,#ff9a9e 0%,#fad0c4 50%, #fad0c4 100%);
        font-family: 'Arial',Sans-Serif;
      }
      
      .card{
        background: white;
        backdrop-filter: blur(10px);
        padding: 2rem;
        border-radius: 15px;
        text-align: center;
        width: 300px;
        box-shadow: 0 4px 15px rgba(0,0,0,0.1);
      }
      
      .profile_img{
        width: 100%;
      }